.selectGroupContent > div:nth-of-type(n + 2) {
  margin-top: 12px;
}

.selectGroupContentCollaps {
  display: flex;
}

.selectGroupContentCollaps > div {
  width: 205px;
  margin: 5px 30px 5px 0;
  white-space: nowrap;
}
