.explainInfo > h2 {
  margin: 0;
  padding: 16px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.explainInfo > div {
  padding: 5px 0;
  border: 1px solid #d9d9d9;
}

.explainInfo > div  > div {
  padding-left: 10px;
  line-height: 22px;
}
