@keyframes progress {
  from {
    background-position-x: -400px;
  }
  to {
    background-position-x: 0;
  }
}
.disclose [class$='-modal-close'] {
  display: none;
}
.myModal {
  transform-origin: calc(100vw - 140px) -30px;
  transition: transform 0.5s;
}


.myModal.hide {
   transform: scale(0) !important;
 }
.myModal [class$='-card'] {
  margin: 5px 0;
}
.myModal .running [class$='-progress-bg'] {
  background-image: url('../../progress_bg.jpeg');
  background-position-x: -400px;
  animation: progress infinite 15s linear;
}
.myModal .cancel [class$='-progress-bg'] {
  background: #888;
}
.myModal .fail [class$='-progress-bg'] {
  background: transparent;
}

.title {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 30px;
}
.moreBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

div[class$='-tabs-dropdown'] {
  z-index: 1101;
}
