
.checkGroup {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 10px;
}

.checkGroup .index {
  width: 205px;
  margin: 0 30px 8px 0;
  white-space: nowrap;
}

.checkGroup .index > span {
  color: #666;
}
