.cron-select.input-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // border: 1px solid rgba(217, 217, 217);
  padding: 0 8px 0 0;
  transition: 0.3s;
  position: relative;
}

.cron-select {
  .input-icon {
    position: absolute;
    right: 18px;
  }
}
