.feedBack {
  position: fixed;
  z-index: 20;
  height: 32px;
  line-height: 32px;
}

.feedBack:hover .optionBox {
  display: flex;
}

.feedBack .optionBox {
  position: absolute;
  top: 0;
  display: none;
  flex-direction: column;
}

