@keyframes progress {
  from {
    background-position-x: -400px;
  }
  to {
    background-position-x: 0;
  }
}
.item {
  display: flex;
  align-items: center;
  margin-right: 27px;
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
}

.dot {
  align-self: flex-start;
  margin: 7px 6px;
  padding: 4px;
  border-radius: 50%;
}
.unread {
  background: orangered;
}
.textTime {
  flex: 0 0 90px;
  text-align: center;
}

.itemContent {
  flex: 0 0 340px;
  max-width: 340px;
}

.itemContent > div:nth-of-type(1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.status {
  flex: 0 0 80px;
  text-align: center;
}
.btnBox {
  display: flex;
  flex: 1 1 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.btnBox button:nth-of-type(n + 2) {
  margin-left: 5px;
}
.running [class$='-progress-bg'] {
  background-image: url('../../../../progress_bg.jpeg');
  background-position-x: -400px;
  animation: progress infinite 15s linear;
}
.cancel [class$='-progress-bg'] {
  background: #888;
}
.fail [class$='-progress-bg'] {
  background: transparent;
}

.showName:hover {
  display: block;
  box-sizing: border-box;
  padding-left: 0.4em;
  outline: auto #ccc;
}
.showNameInput {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.4em;
  outline: auto #ccc;
}
